@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-moz-selection {
    background: #fd5d8d;
    color: #270245;
}

*::selection {
    background: #fd5d8d;
    color: #270245;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    background: #000;
    overflow-x: hidden;
    color: #fff;
}

body:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    z-index: 500;
    mix-blend-mode: overlay;
    pointer-events: none;
}

.noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    opacity: 0.8;
    pointer-events: none;
}

.noise:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("https://ice-creme.de/images/background-noise.png");
    pointer-events: none;
}

.noise-moving {
    opacity: 1;
    z-index: 2;
}

.noise-moving:before {
    will-change: background-position;
    -webkit-animation: noise 1s infinite alternate;
    animation: noise 1s infinite alternate;
}

.scanlines {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 3;
    opacity: 0.6;
    will-change: opacity;
    -webkit-animation: opacity 3s linear infinite;
    animation: opacity 3s linear infinite;
}

.scanlines:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.5) 51%);
    background-size: 100% 4px;
    will-change: background, background-size;
    -webkit-animation: scanlines 0.2s linear infinite;
    animation: scanlines 0.2s linear infinite;
}

.intro-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #2b52ff;
    z-index: 0;
}

.intro-wrap .noise:before {
    background-size: 200%;
}

/* Content styling */
.container {
    position: relative;
    z-index: 10;
}

h1 {
    color: #fff;
    font-family: "Press Start 2P", cursive;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    z-index: 10;
    will-change: text-shadow;
    -webkit-animation: rgbText 2s steps(9) 0s infinite alternate;
    animation: rgbText 2s steps(9) 0s infinite alternate;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.nav-tabs {
    position: relative;
    z-index: 10;
}

.nav-tabs .nav-link {
    color: #fff;
    font-family: "Press Start 2P", cursive;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    margin-right: 10px;
    will-change: text-shadow;
    -webkit-animation: rgbText 1.5s steps(9) 0s infinite alternate;
    animation: rgbText 1.5s steps(9) 0s infinite alternate;
}

.nav-tabs .nav-link.active {
    background: rgba(43, 82, 255, 0.8);
    border-color: #fff;
    color: #fff;
}

.tab-content {
    position: relative;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
}

label {
    color: #fff;
    font-family: "Press Start 2P", cursive;
    font-size: 0.9rem;
    will-change: text-shadow;
    -webkit-animation: rgbText 1.8s steps(9) 0s infinite alternate;
    animation: rgbText 1.8s steps(9) 0s infinite alternate;
}

.btn-primary {
    --stone-50: #fafaf9;
    --stone-800: #292524;
    --yellow-400: #facc15;

    font-family: "Press Start 2P", cursive;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    line-height: 1;
    border-radius: 1rem;
    outline: 2px solid transparent;
    outline-offset: 6px;
    color: var(--stone-50);
    border: none;
    background: transparent;
    will-change: text-shadow;
    -webkit-animation: rgbText 1.6s steps(9) 0s infinite alternate;
    animation: rgbText 1.6s steps(9) 0s infinite alternate;
}

.btn-primary:active {
    outline-color: var(--yellow-400);
}

.btn-primary:focus-visible,
.btn-primary:focus {
    outline-color: var(--yellow-400);
    outline-style: dashed;
    box-shadow: none;
}

.btn-primary::before {
    content: "";
    position: absolute;
    z-index: 0;
    height: 200%;
    max-height: 100px;
    aspect-ratio: 1;
    margin: auto;
    background: white;
    clip-path: polygon(100% 50%,
            91.48% 56.57%,
            97.55% 65.45%,
            87.42% 69.07%,
            90.45% 79.39%,
            79.7% 79.7%,
            79.39% 90.45%,
            69.07% 87.42%,
            65.45% 97.55%,
            56.57% 91.48%,
            50% 100%,
            43.43% 91.48%,
            34.55% 97.55%,
            30.93% 87.42%,
            20.61% 90.45%,
            20.3% 79.7%,
            9.55% 79.39%,
            12.58% 69.07%,
            2.45% 65.45%,
            8.52% 56.57%,
            0% 50%,
            8.52% 43.43%,
            2.45% 34.55%,
            12.58% 30.93%,
            9.55% 20.61%,
            20.3% 20.3%,
            20.61% 9.55%,
            30.93% 12.58%,
            34.55% 2.45%,
            43.43% 8.52%,
            50% 0%,
            56.57% 8.52%,
            65.45% 2.45%,
            69.07% 12.58%,
            79.39% 9.55%,
            79.7% 20.3%,
            90.45% 20.61%,
            87.42% 30.93%,
            97.55% 34.55%,
            91.48% 43.43%);
    animation: star-rotate 4s linear infinite;
    opacity: 0.1;
}

.btn-primary:hover::before {
    opacity: 1;
}

.btn-primary .btn-wrapper {
    padding: 2px;
    border-radius: 1rem;
    background-color: var(--yellow-400);
    transform: translate(-4px, -4px);
    transition: all 150ms ease;
    box-shadow:
        0.5px 0.5px 0 0 var(--yellow-400),
        1px 1px 0 0 var(--yellow-400),
        1.5px 1.5px 0 0 var(--yellow-400),
        2px 2px 0 0 var(--yellow-400),
        2.5px 2.5px 0 0 var(--yellow-400),
        3px 3px 0 0 var(--yellow-400),
        0 0 0 2px var(--stone-800),
        0.5px 0.5px 0 2px var(--stone-800),
        1px 1px 0 2px var(--stone-800),
        1.5px 1.5px 0 2px var(--stone-800),
        2px 2px 0 2px var(--stone-800),
        2.5px 2.5px 0 2px var(--stone-800),
        3px 3px 0 2px var(--stone-800),
        3.5px 3.5px 0 2px var(--stone-800),
        4px 4px 0 2px var(--stone-800),
        0 0 0 4px var(--stone-50),
        0.5px 0.5px 0 4px var(--stone-50),
        1px 1px 0 4px var(--stone-50),
        1.5px 1.5px 0 4px var(--stone-50),
        2px 2px 0 4px var(--stone-50),
        2.5px 2.5px 0 4px var(--stone-50),
        3px 3px 0 4px var(--stone-50),
        3.5px 3.5px 0 4px var(--stone-50),
        4px 4px 0 4px var(--stone-50);
}

.btn-primary:hover .btn-wrapper {
    transform: translate(0, 0);
    box-shadow:
        0 0 0 0 var(--yellow-400),
        0 0 0 0 var(--yellow-400),
        0 0 0 0 var(--yellow-400),
        0 0 0 0 var(--yellow-400),
        0 0 0 0 var(--yellow-400),
        0 0 0 0 var(--yellow-400),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50);
}

.btn-primary .btn-wrapper .btn-inner {
    position: relative;
    pointer-events: none;
    border-radius: calc(1rem - 2px);
    background-color: var(--stone-800);
}

.btn-primary .btn-wrapper .btn-inner::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    opacity: 0.1;
    background-image: radial-gradient(rgb(255 255 255 / 80%) 20%,
            transparent 20%),
        radial-gradient(rgb(255 255 255 / 100%) 20%, transparent 20%);
    background-position:
        0 0,
        4px 4px;
    background-size: 8px 8px;
    mix-blend-mode: hard-light;
    box-shadow: inset 0 0 0 1px var(--stone-800);
    animation: dots 0.4s infinite linear;
    transition: opacity 150ms ease;
}

.btn-primary .btn-wrapper .btn-inner .btn-text {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    gap: 0.25rem;
    filter: drop-shadow(0 -1px 0 var(--stone-800));
    pointer-events: all;
}

.btn-primary:hover .btn-wrapper .btn-inner .btn-text {
    filter: drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.1));
}

.btn-primary:active .btn-wrapper .btn-inner .btn-text {
    transform: translateY(2px);
}

/* Animations */
@-webkit-keyframes noise {

    0%,
    100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

@keyframes noise {

    0%,
    100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0.6;
    }

    20% {
        opacity: 0.3;
    }

    35% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.8;
    }

    60% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.7;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes opacity {
    0% {
        opacity: 0.6;
    }

    20% {
        opacity: 0.3;
    }

    35% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.8;
    }

    60% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.7;
    }

    100% {
        opacity: 0.6;
    }
}

@-webkit-keyframes scanlines {
    from {
        background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.5) 51%);
        background-size: 100% 4px;
    }

    to {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 50%, transparent 51%);
        background-size: 100% 4px;
    }
}

@keyframes scanlines {
    from {
        background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.5) 51%);
        background-size: 100% 4px;
    }

    to {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 50%, transparent 51%);
        background-size: 100% 4px;
    }
}

@-webkit-keyframes rgbText {
    0% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }

    25% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }

    45% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }

    50% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }

    55% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }

    90% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }

    100% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
}

@keyframes rgbText {
    0% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }

    25% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }

    45% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }

    50% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }

    55% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }

    90% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }

    100% {
        text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
}

@keyframes star-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes dots {
    0% {
        background-position:
            0 0,
            4px 4px;
    }

    100% {
        background-position:
            8px 0,
            12px 4px;
    }
}

/* Result text styling */
#result-text {
    color: #fff;
    font-family: "Press Start 2P", cursive;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2;
    will-change: text-shadow;
    -webkit-animation: rgbText 2s steps(9) 0s infinite alternate;
    animation: rgbText 2s steps(9) 0s infinite alternate;
}

#result-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(43, 82, 255, 0.5);
}

.form-control {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #fff;
    color: #fff;
    font-family: "Press Start 2P", cursive;
    font-size: 0.8rem;
    padding: 15px;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form-control:focus {
    background: rgba(0, 0, 0, 0.7);
    border-color: #2b52ff;
    color: #fff;
    box-shadow: 0 0 10px rgba(43, 82, 255, 0.8);
}